// . TYPOGRAPHY .
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Roboto weights: 100: thin, 300: light, 400: regular, 500: medium, 700: bold, 900: black
// Garamond & Fira are variable fonts

$font-display: Roboto, sans-serif;
$font-body: "EB Garamond", serif;
$font-monospace: "Fira Code", monospace;

$line-height: 1.5;

// DEBUG
.accent {
  color: $color-accent;
  font-weight: 600;
}

//   . GLOBALS .
body {
  line-height: $line-height;
}

//   . HEADINGS .
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-display;
  font-weight: 700;
}

h1 {
  font-size: ms(6);
}

h2 {
  font-size: ms(5);
  margin-top: ms(6);
  margin-bottom: ms(1);
}
h3 {
  font-size: ms(4);
  margin-top: ms(4);
  margin-bottom: ms(3);
}

//   . BODY TEXT .
body {
  font-family: $font-body;
  font-size: ms(3);
}

p {
  margin-bottom: ms(2);
}

small {
  font-family: $font-display;
  font-weight: 300;
  font-size: ms(1);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

///   . LINKS .
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  // ".soft" links appear as plain text
  &:not(.soft):first-letter {
    text-decoration: underline $color-accent;
    text-decoration-thickness: 1pt;
    text-underline-offset: 3pt;
    color: $color-accent;
    font-weight: 900;
  }
}

ul {
  list-style-type: none;
}

li > ul > li {
  margin-left: ms(3);
}

ul li::before {
  content: ". ";
}

pre,
code {
  // white-space: pre;
  font-family: $font-monospace;
  font-size: ms(2);
  word-break: break-all;
}
