// . SCALE .
$modularscale: (
  base: 1rem,
  // 12px
  ratio: 1.25,
  // 5:6 major third = 1.25
);

// $text-bigtitle: ms(8); // bigtitle
// $text-title: ms(7); // title
// $text-xxl: ms(6); // subhead-1
// $text-xl: ms(5); // subhead-2
// $text-l: ms(4); // subhead-3
// $text-m: ms(3); // body text, subhead-4
// $text-s: ms(2); // side notes
// $text-xs: ms(1); // footnotes, interface
// $text-xxs: ms(0); // figcaptions
