header {
  @extend %two-column;
  // TODO: start with a base case, then make a two-column variation
  display: flex;
  height: ms(9);
  align-items: center;
  p {
    font-size: ms(4);
    font-weight: 500;
  }
}

.monogram {
  height: ms(7);
  fill: var(--foreground);
  margin-right: ms(4);
}
