.header {
  @extend %two-column;
  height: ms(9);
  align-items: center;
  margin-top: ms(4);
  p {
    font-size: ms(4);
    font-weight: 500;
  }
}

.monogram {
  height: ms(7);
  fill: var(--foreground);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  margin-right: ms(4);
}
