@use "~modularscale-sass/stylesheets/modularscale";

.header {
  height: modularscale.ms(9);
  align-items: center;
  padding-top: modularscale.ms(3);
  padding-bottom: modularscale.ms(10);
  p {
    font-size: modularscale.ms(4);
    font-weight: 500;
  }
}

.monogram svg {
  height: modularscale.ms(7);
  fill: var(--foreground);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  margin-right: modularscale.ms(4);
}
